version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - nextcloud-net

  redis:
    image: redis:7
    restart: always
    networks:
      - nextcloud-net

  nextcloud:
    image: nextcloud:31.0.8-apache
    restart: always
    ports:
      - "443:443"
    depends_on:
      - db
      - redis
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
    volumes:
      - nextcloud_data:/var/www/html
    networks:
      - nextcloud-net

  prometheus:
    image: prom/prometheus:latest
    restart: always
    networks:
      - nextcloud-net

  grafana:
    image: grafana/grafana:latest
    restart: always
    environment:
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - nextcloud-net

  loki:
    image: grafana/loki:2.9.0
    restart: always
    networks:
      - nextcloud-net

  promtail:
    image: grafana/promtail:2.9.0
    restart: always
    networks:
      - nextcloud-net

  nextcloud-exporter:
    image: xperimental/nextcloud-exporter:latest
    restart: always
    environment:
      NEXTCLOUD_SERVER: http://nextcloud
      NEXTCLOUD_USERNAME: ${NEXTCLOUD_ADMIN_USER}
      NEXTCLOUD_PASSWORD: ${NEXTCLOUD_ADMIN_PASSWORD}
    networks:
      - nextcloud-net

volumes:
  db_data:
  nextcloud_data:

networks:
  nextcloud-net:
    driver: bridge
